In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2022-01-29 06:34:34,55.7435,-97.8558,-5.64,77,100,0.00
1,1,Nakasongola,UG,2022-01-29 06:34:34,1.3089,32.4564,83.05,23,21,8.77
2,2,Cape Town,ZA,2022-01-29 06:33:15,-33.9258,18.4232,71.11,62,0,3.00
3,3,Kavaratti,IN,2022-01-29 06:34:35,10.5669,72.6420,80.87,70,6,7.61
4,4,Port Alfred,ZA,2022-01-29 06:34:35,-33.5906,26.8910,70.27,70,59,4.72

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

SyntaxError: invalid syntax (Temp/ipykernel_15500/3185543972.py, line 4)