In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
#!jupyter nbextension enable --py --sys-prefix widgetsnbextension
#!jupyter nbextension enable --py --sys-prefix gmaps

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2022-01-29 06:34:34,55.7435,-97.8558,-5.64,77,100,0.00
1,1,Nakasongola,UG,2022-01-29 06:34:34,1.3089,32.4564,83.05,23,21,8.77
2,2,Cape Town,ZA,2022-01-29 06:33:15,-33.9258,18.4232,71.11,62,0,3.00
3,3,Kavaratti,IN,2022-01-29 06:34:35,10.5669,72.6420,80.87,70,6,7.61
4,4,Port Alfred,ZA,2022-01-29 06:34:35,-33.5906,26.8910,70.27,70,59,4.72

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)
preferred_cities_df_not_null = preferred_cities_df.dropna()
preferred_cities_df_not_null.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Nakasongola,UG,2022-01-29 06:34:34,1.3089,32.4564,83.05,23,21,8.77
3,3,Kavaratti,IN,2022-01-29 06:34:35,10.5669,72.6420,80.87,70,6,7.61
23,23,Bathsheba,BB,2022-01-29 06:34:41,13.2167,-59.5167,75.06,84,20,5.75
25,25,Maceio,BR,2022-01-29 06:33:56,-9.6658,-35.7353,76.44,78,40,9.22
40,40,Butaritari,KI,2022-01-29 06:34:47,3.0707,172.7902,81.70,80,58,19.35
45,45,Lorengau,PG,2022-01-29 06:34:48,-2.0226,147.2712,81.32,77,100,4.59
51,51,Vaini,TO,2022-01-29 06:35:50,-21.2000,-175.2000,82.38,79,66,16.64
61,61,Vanimo,PG,2022-01-29 06:35:53,-2.6741,141.3028,82.60,77,99,7.76
63,63,Rikitea,PF,2022-01-29 06:35:54,-23.1203,-134.9692,77.86,72,100,13.35
73,73,Vila Velha,BR,2022-01-29 06:35:57,-20.3297,-40.2925,76.95,89,0,1.01

In [28]:
preferred_cities_df.count()

City_ID       123
City          123
Country       120
Date          123
Lat           123
Lng           123
Max Temp      123
Humidity      123
Cloudiness    123
Wind Speed    123
dtype: int64

In [24]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       3
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [25]:
preferred_cities_df.notnull().sum()

City_ID       123
City          123
Country       120
Date          123
Lat           123
Lng           123
Max Temp      123
Humidity      123
Cloudiness    123
Wind Speed    123
dtype: int64

In [31]:
preferred_cities_df_not_null.count()

City_ID       120
City          120
Country       120
Date          120
Lat           120
Lng           120
Max Temp      120
Humidity      120
Cloudiness    120
Wind Speed    120
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df_not_null[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1   Nakasongola      UG     83.05   1.3089   32.4564
3     Kavaratti      IN     80.87  10.5669   72.6420
23    Bathsheba      BB     75.06  13.2167  -59.5167
25       Maceio      BR     76.44  -9.6658  -35.7353
40   Butaritari      KI     81.70   3.0707  172.7902
45     Lorengau      PG     81.32  -2.0226  147.2712
51        Vaini      TO     82.38 -21.2000 -175.2000
61       Vanimo      PG     82.60  -2.6741  141.3028
63      Rikitea      PF     77.86 -23.1203 -134.9692
73   Vila Velha      BR     76.95 -20.3297  -40.2925

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [68]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #print(hotels)
    #print(hotels["results"][0]["name"])
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Nakasongola,UG,83.05,1.3089,32.4564,Norena Hotel Nakasongola
3,Kavaratti,IN,80.87,10.5669,72.6420,Hotels in Lakshadweep Islands
23,Bathsheba,BB,75.06,13.2167,-59.5167,Atlantis Hotel
25,Maceio,BR,76.44,-9.6658,-35.7353,Poutur Pousada
40,Butaritari,KI,81.70,3.0707,172.7902,Isles Sunset Lodge
45,Lorengau,PG,81.32,-2.0226,147.2712,Lorengau Harbourside Hotel
51,Vaini,TO,82.38,-21.2000,-175.2000,Keleti Beach Resort
61,Vanimo,PG,82.60,-2.6741,141.3028,Vahmoneh Lodge Vanimo
63,Rikitea,PF,77.86,-23.1203,-134.9692,People ThankYou
73,Vila Velha,BR,76.95,-20.3297,-40.2925,Quality Suites Vila Velha

In [60]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [71]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))