## Deliverable 2. Create a Customer Travel Destinations Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [24]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Katsuura,JP,35.1333,140.3000,48.11,55,98,11.65,overcast clouds
1,1,Xining,CN,36.6167,101.7667,16.83,60,58,2.55,broken clouds
2,2,Jamestown,US,42.0970,-79.2353,6.71,85,43,1.01,scattered clouds
3,3,Kenitra,MA,34.2610,-6.5802,62.73,63,7,3.40,clear sky
4,4,Punta Arenas,CL,-53.1500,-70.9167,46.11,65,100,9.95,overcast clouds

In [25]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Port-Gentil,GA,-0.7193,8.7815,80.76,80,99,9.57,overcast clouds
8,8,Rikitea,PF,-23.1203,-134.9692,76.84,68,100,6.80,overcast clouds
9,9,Busselton,AU,-33.6500,115.3333,87.08,45,4,12.55,clear sky
15,15,Avarua,CK,-21.2078,-159.7750,82.45,74,20,8.05,few clouds
17,17,Geraldton,AU,-28.7667,114.6000,84.61,58,0,18.41,clear sky
18,18,Popondetta,PG,-8.7537,148.2534,86.94,65,100,6.02,overcast clouds
20,20,Rawson,AR,-43.3002,-65.1023,77.23,23,20,22.82,few clouds
28,28,General Roca,AR,-39.0333,-67.5833,77.40,23,54,28.66,broken clouds
29,29,New Norfolk,AU,-42.7826,147.0587,83.88,30,0,3.00,clear sky
31,31,Hithadhoo,MV,-0.6000,73.0833,81.05,68,55,3.51,broken clouds

In [27]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                155
City                   155
Country                154
Lat                    155
Lng                    155
Max Temp               155
Humidity               155
Cloudiness             155
Wind Speed             155
Current Description    155
dtype: int64

In [28]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df_not_null = preferred_cities_df.dropna()
preferred_cities_df_not_null.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Port-Gentil,GA,-0.7193,8.7815,80.76,80,99,9.57,overcast clouds
8,8,Rikitea,PF,-23.1203,-134.9692,76.84,68,100,6.80,overcast clouds
9,9,Busselton,AU,-33.6500,115.3333,87.08,45,4,12.55,clear sky
15,15,Avarua,CK,-21.2078,-159.7750,82.45,74,20,8.05,few clouds
17,17,Geraldton,AU,-28.7667,114.6000,84.61,58,0,18.41,clear sky
18,18,Popondetta,PG,-8.7537,148.2534,86.94,65,100,6.02,overcast clouds
20,20,Rawson,AR,-43.3002,-65.1023,77.23,23,20,22.82,few clouds
28,28,General Roca,AR,-39.0333,-67.5833,77.40,23,54,28.66,broken clouds
29,29,New Norfolk,AU,-42.7826,147.0587,83.88,30,0,3.00,clear sky
31,31,Hithadhoo,MV,-0.6000,73.0833,81.05,68,55,3.51,broken clouds

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df_not_null[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Port-Gentil,GA,80.76,overcast clouds,-0.7193,8.7815,
8,Rikitea,PF,76.84,overcast clouds,-23.1203,-134.9692,
9,Busselton,AU,87.08,clear sky,-33.6500,115.3333,
15,Avarua,CK,82.45,few clouds,-21.2078,-159.7750,
17,Geraldton,AU,84.61,clear sky,-28.7667,114.6000,
18,Popondetta,PG,86.94,overcast clouds,-8.7537,148.2534,
20,Rawson,AR,77.23,few clouds,-43.3002,-65.1023,
28,General Roca,AR,77.40,broken clouds,-39.0333,-67.5833,
29,New Norfolk,AU,83.88,clear sky,-42.7826,147.0587,
31,Hithadhoo,MV,81.05,broken clouds,-0.6000,73.0833,

In [50]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    #base_url = "https://maps.googleapis.com/maps/api/directions/json?location"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    #print(hotels["results"][0]["name"])
    #name_address = requests.get(base_url, params=params)
    #name_address = name_address.json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    #print(json.dumps(name_address, indent=4, sort_keys=True))
#name_address
#first_hotel= hotel_df.head(1)
#print(first_hotel)
#hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [63]:
# 7. Drop the rows where there is no Hotel Name.
#no nulls
hotel_df
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace =True)
hotel_df.dropna(subset= ["Hotel Name"], inplace=True)
clean_hotel_df = hotel_df
clean_hotel_df
#clean_hotel_df = hotel_df.replace("", nan_value inplace= True)
#clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Port-Gentil,GA,80.76,overcast clouds,-0.7193,8.7815,Fengshui Residence
8,Rikitea,PF,76.84,overcast clouds,-23.1203,-134.9692,People ThankYou
9,Busselton,AU,87.08,clear sky,-33.6500,115.3333,Observatory Guest House
15,Avarua,CK,82.45,few clouds,-21.2078,-159.7750,Paradise Inn
17,Geraldton,AU,84.61,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
...,...,...,...,...,...,...,...
665,Fayaoue,NC,82.54,light rain,-20.6500,166.5333,Chez Dydyce Guesthouse
670,Innisfail,AU,85.21,overcast clouds,-17.5333,146.0333,Moondarra Motel
678,Karanganyar,ID,85.82,overcast clouds,-6.7072,111.0834,Guntur Patie Home's
679,Queanbeyan,AU,82.98,overcast clouds,-35.3500,149.2333,Parkway Motel
687,Pondicherry,IN,77.65,overcast clouds,11.9300,79.8300,Villa Shanti for food lovers

In [64]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure